/* Template created by CENTROARTS.com | Author: Rumin Sergey | URL: http://centroarts.com */
.selectmass input {
    float: right;
    margin-left: 6px;
}

.mass_comments_action {
    text-align: right;
}

/*---Информационное окно загрузки AJAX---*/
#loading-layer {
    display: none;
    font-size: 11px;
    background: #2e83d7;
    padding: 10px;
    text-align: center;
    color: #fff;
}

/*---Цитата и скрытый текст---*/
.scriptcode, .title_quote,.quote, .title_spoiler, .text_spoiler {
    padding: 5px;
    background: #f9fafa;
    border: 1px solid #dce7e7;
}

.title_quote, .title_spoiler {
    background: #f9fafa;
}

.title_quote {
    border-bottom: 0;
    font-weight: bold;
}

.scriptcode {
    color: #004e8d;
    text-align: left;
    font-family: "Courier New";
}

.title_spoiler {
    font-weight: bold;
}

.text_spoiler {
    border-top: 0;
    text-align: justify;
}

.hide {
    background-color: #e8f3fa;
    padding: 5px;
    color: #3a78a5;
    margin: 0 0 1em;
}

.hide a {
    text-decoration: underline;
}

 .hide a:hover {
    text-decoration: none ;
}

.inhide {
    border: 1px solid #d1e3ef;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 5px;
}

/*---Календарь---*/
.calendar {
    width: 100%;
}

.calendar td, .calendar th {
    padding: 5px 0;
    vertical-align: middle;
    text-align: center;
}

.weekday-active-v, .day-active-v, .weekday-active, .day-active {
    font-weight: bold;
}

.weekday {
    color: #b270ce;
}

th.workday, th.weekday {
    background-color: #f4f8fa;
}

.monthselect {
    font-size: 1.15em;
}

.day-current {
    background-color: #3f4b51;
    color: #fff;
}

.day-current a {
    color: #fff;
}

/*---Лучшие пользователи---*/
.userstop td, {
    border: 1px solid #d8d8d8;
    padding: 2px;
    background-color: #fff;
}

.userstop thead td {
    font-size: 0.9em;
    background: #fff url("../images/bbcodes.png") repeat-x 0 100%;
    height: 22px;
    padding: 0;
    font-weight: bold;
    text-align: center;
    color: #4e4e4e;
}

/*---Рейтинг---*/
.rating {
    width: 85px;
    height: 17px;
    font-size: 0.9em;
}

.unit-rating {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 85px;
    height: 17px;
    position: relative;
    background: url("../dleimages/rating.png") repeat-x;
}

.unit-rating li {
    text-indent: -90000px;
    padding: 0;
    margin: 0;
    float: left;
}

.unit-rating li a {
    display: block;
    width: 17px;
    height: 17px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 17;
    position: absolute;
    padding: 0;
}

.unit-rating li a:hover {
    background: url("../dleimages/rating.png") 0 -17px;
    z-index: 2;
    left: 0;
}

.unit-rating a.r1-unit {
    left: 0;
}

.unit-rating a.r1-unit:hover {
    width:17px;
}

.unit-rating a.r2-unit {
    left: 17px;
}

.unit-rating a.r2-unit:hover {
    width: 34px;
}

.unit-rating a.r3-unit {
    left: 34px;
}

.unit-rating a.r3-unit:hover {
    width: 51px;
}

.unit-rating a.r4-unit {
    left: 51px;
}

.unit-rating a.r4-unit:hover {
    width: 68px;
}

.unit-rating a.r5-unit {
    left: 68px;
}

.unit-rating a.r5-unit:hover {
    width: 85px;
}

.unit-rating li.current-rating {
    background: url("../dleimages/rating.png") 0 -34px;
    position: absolute;
    height: 17px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}

/*---BB коды---*/
 /* различие bbcodes и bbcodes_poll исключительно в длине кнопки */
/* класс bbcodes используем в списке персональных сообщений (pm.tpl) и по умолчанию в модуле редактора сообщений*/
 .bbcodes_poll {
    background: #fff url("../images/bbcodes.png") repeat-x 0 100%;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #b3b3b3;
    color: #383838;
    padding: 2px 9px 5px 9px;
    margin-bottom: 2px !important;
    height: 24px;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 4px -3px black;
    -webkit-box-shadow: 0 1px 4px -3px black;
    box-shadow: 0 1px 4px -3px black;
}

.bbcodes_poll:hover {
    background-position: 0 10px;
}

.bbcodes_poll {
    width: 100px;
}

.editor textarea {
    font-family: Verdana;
    word-spacing: 0.1em;
    letter-spacing: 0;
    line-height: 1.5em;
    font-size: 11px;
    color:#000;
    background: #fff url("../images/fields.png") repeat-x;
    border: 0 none;
}

.editor input[type="text"] {
    padding: 2px;
    background: #fff url("../images/fields.png") repeat-x;
    border: 1px solid #bcc0c2;
}

.editor_button {
    float: left;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}

.editor_buttoncl {
    float: left;
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.editbclose {
    float: right;
    cursor: pointer;
    display: none;
}

.editor_button select {
    font-size: 11px;
}

.editor_button img {
    margin: 0;
    padding: 0;
}

.editbclose img {
    margin: 0;
    padding: 0;
}

.editor_button_brk img {
    margin: 0;
    padding: 0;
}

/*---Дополнительные поля---*/
.xfields textarea, .xprofile textarea {
    width: 98%;
    height: 186px;
    margin: 0px 1px 0px 0px;
    padding: 0px;
}

.xfields input, .xprofile input {
    width: 250px;
    height: 14px;
    padding: 2px;
}

.xfields_table td {
    vertical-align: top;
}

/*---Персональные сообщения---*/
 .pm_head {
    font-weight: bold;
}

/*---Выпадающее меню кнопки редактировать---*/
#dropmenudiv {
    border: 1px solid #cbdfe8;
    background-color: #fbfdfe;
    font-size: 11px;
    line-height: 20px;
    margin: 2px 0;
    padding: 5px;
    opacity:0.9;
    -moz-opacity:0.9;
    filter:alpha(opacity=90);
}

#dropmenudiv a {
    display: block;
    text-indent: 3px;
    text-decoration: none;
    color: #3f4b51;
    padding: 1px 0;
    width: 100%;
}

#dropmenudiv a:hover {
    color: #2d8edd;
}

/*---Ссылка на скачивание прикрепленного файла---*/
.attachment {
    color: #808080;
}

/*---Рамка расширенной формы поиска по сайту---*/
fieldset {
    border: 1px solid #bfced6;
    padding: 5px;
    text-align: left;
}

/*---показ оригинальной картинки загруженной на сайт из уменьшенной копии---*/
.highslide-wrapper, .highslide-outline {
    background: #FFFFFF;
}

.highslide-image {
    border: 2px solid #FFFFFF;
}

.highslide-active-anchor {
    visibility: hidden;
}

 .highslide-active-anchor img {
    visibility: hidden;
}

.highslide-dimming {
    background-color: black;
}

.highslide-html {
    background-color: white;
}

.highslide-loading {
    display: block;
    color: white;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
    border: 1px solid white;
    background-color: black;
}

a.highslide-full-expand {
    background: url("../dleimages/fullexpand.gif") no-repeat;
    display: block;
    margin: 0 10px 10px 0;
    width: 34px;
    height: 34px;
}

.highslide-display-block {
    display: block;
}

.highslide-display-none {
    display: none;
}

.highslide-caption {
    display: none;
    padding: 5px;
    background: white;
}

.highslide-controls {
    width: 195px;
    height: 40px;
    background: url("../../../engine/classes/highslide/graphics/controlbar-black-border.gif") no-repeat 0 -90px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.highslide-controls ul {
    position: relative;
    left: 15px;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url("../../../engine/classes/highslide/graphics/controlbar-black-border.gif") no-repeat 100% -90px;
}

.highslide-controls li {
    float: left;
    padding: 5px 0;
}

.highslide-controls a {
    background: url("../../../engine/classes/highslide/graphics/controlbar-black-border.gif");
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    outline: none;
}

.highslide-controls a.disabled {
    cursor: default;
}

.highslide-controls a span {
    display: none;
}

 /*---The CSS sprites for the controlbar---*/
.highslide-controls .highslide-previous a {
    background-position: 0 0;
}

.highslide-controls .highslide-previous a:hover {
    background-position: 0 -30px;
}

.highslide-controls .highslide-previous a.disabled {
    background-position: 0 -60px !important;
}

.highslide-controls .highslide-play a {
    background-position: -30px 0;
}

.highslide-controls .highslide-play a:hover {
    background-position: -30px -30px;
}

.highslide-controls .highslide-play a.disabled {
    background-position: -30px -60px !important;
}

.highslide-controls .highslide-pause a {
    background-position: -60px 0;
}

.highslide-controls .highslide-pause a:hover {
    background-position: -60px -30px;
}

.highslide-controls .highslide-next a {
    background-position: -90px 0;
}

.highslide-controls .highslide-next a:hover {
    background-position: -90px -30px;
}

.highslide-controls .highslide-next a.disabled {
    background-position: -90px -60px !important;
}

.highslide-controls .highslide-move a {
    background-position: -120px 0;
}

.highslide-controls .highslide-move a:hover {
    background-position: -120px -30px;
}

.highslide-controls .highslide-full-expand a {
    background-position: -150px 0;
}

.highslide-controls .highslide-full-expand a:hover {
    background-position: -150px -30px;
}

.highslide-controls .highslide-full-expand a.disabled {
    background-position: -150px -60px !important;
}

.highslide-controls .highslide-close a {
    background-position: -180px 0;
}

.highslide-controls .highslide-close a:hover {
    background-position: -180px -30px;
}

/*---Облако тегов---*/
.clouds_xsmall {
    font-size: 1em;
}

.clouds_small {
    font-size: 1.1em;
}

.clouds_medium {
    font-size: 1.2em;
    font-weight: bold;
}

.clouds_large {
    font-size: 1.5em;
}

.clouds_xlarge {
    font-size: 1.7em;
}

/*---Быстрый поиск на сайте---*/
#searchsuggestions {
    border-width:1px;
    border-color:#919191;
    border-style:solid;
    width:300px;
    background-color:#5c9ccc;
    font-size:10px;
    line-height:14px;
}

#searchsuggestions a {
    padding:5px;
    display:block;
    background-color:#fff;
    clear:left;
    height:75px;
    text-decoration:none;
}

#searchsuggestions a:hover {
    background-color:#fdd08b;
    color:#fff;
}

#searchsuggestions a span.searchheading {
    background: #5c9ccc;
    display:block;
    font-weight:bold;
    padding:5px;
    color:#fff;
}

#searchsuggestions a:hover span.searchheading {
    color:#fff;
}

#searchsuggestions a span {
    color:#555;
}

#searchsuggestions a:hover span {
    color:#000;
}

#searchsuggestions span.seperator {
    float:right;
    padding-right:15px;
    margin-right:5px;
}

#searchsuggestions span.seperator a {
    background-color:transparent;
    display:block;
    height:auto;
    color:#fff;
}

#searchsuggestions span.notfound {
    padding:5px;
    background-color:#fff;
    display:block;
    height:auto;
    color:#000;
}

/*---Диалоговые и всплывающие окна jQuery UI---*/
.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-helper-clearfix { display: inline-block; }

* html .ui-helper-clearfix { height: 1%; }

.ui-helper-clearfix { display: block; }


.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button, 
.ui-widget {
    font-size: 11px;
    line-height: 16px;
	}

.ui-widget button {
		border-radius: 20px;
		border: none;
	color: rgba(0, 0, 0, 0.66);
	cursor: pointer;
	font-weight: bold;
	height: 26px;
	padding: 6px 16px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	_overflow: hidden;
	*display: inline;
	background: #8c8c8c;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbd7d7), color-stop(100%, #8c8c8c));
	background-image: -webkit-linear-gradient(top, #dbd7d7, #8c8c8c);
	background-image: -moz-linear-gradient(top, #dbd7d7, #8c8c8c);
	background-image: -ms-linear-gradient(top, #dbd7d7, #8c8c8c);
	background-image: -o-linear-gradient(top, #dbd7d7, #8c8c8c);
	background-image: linear-gradient(top, #dbd7d7, #8c8c8c);
	-pie-background: linear-gradient(#dbd7d7, #8c8c8c);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 10px;
	behavior: url("../js/libs/PIE.htc");
	}
	.ui-widget button:hover {
	color: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 5px rgba(0, 0, 0, 0.4);
		}
	.ui-widget button.ui-state-focus {
	background: #3aa1bf;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fcee5), color-stop(100%, #3aa1bf));
	background-image: -webkit-linear-gradient(top, #7fcee5, #3aa1bf);
	background-image: -moz-linear-gradient(top, #7fcee5, #3aa1bf);
	background-image: -ms-linear-gradient(top, #7fcee5, #3aa1bf);
	background-image: -o-linear-gradient(top, #7fcee5, #3aa1bf);
	background-image: linear-gradient(top, #7fcee5, #3aa1bf);
	-pie-background: linear-gradient(#7fcee5, #3aa1bf);
		}

		.ui-widget button.ui-state-focus:hover {
		background: #2d95b3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59b7d2), color-stop(100%, #2d95b3));
	background-image: -webkit-linear-gradient(top, #59b7d2, #2d95b3);
	background-image: -moz-linear-gradient(top, #59b7d2, #2d95b3);
	background-image: -ms-linear-gradient(top, #59b7d2, #2d95b3);
	background-image: -o-linear-gradient(top, #59b7d2, #2d95b3);
	background-image: linear-gradient(top, #59b7d2, #2d95b3);
	-pie-background: linear-gradient(#59b7d2, #2d95b3);
			}
.ui-widget-content {
    background: #fff;
    xborder: 1px solid #d1d1d1;
    color: #222;
}

.ui-widget-header {
	color: #555555;
	font-size: 18px;
	font-weight: bold;
	xborder-bottom: solid 1px #d1d1d1;
	}


.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #2d95b3;
    text-decoration: none;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #555555;
    text-decoration: none;
}
.ui-icon { 
	display: block; 
	width: 16px; 
	height: 16px; 
	text-indent: -99999px; 
	overflow: hidden; 
	background: url(../images/close.png) no-repeat 0 0;
	line-height: 16px;
	}

.ui-icon-close { background-position: 0 0; }
.ui-icon-close:hover {
	background-position: 0 -20px;
	}

.ui-icon-closethick { background-position: 0 -20px; }
.ui-icon-closethick:hover { background-position: 0 0; }

.ui-button .ui-button-text { display: block; }

.ui-dialog {
	overflow: hidden;
	position: absolute;
	width: 350px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: .2em;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
 box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
 border: solid 1px #fff;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .5em 1em;
    position: relative;
    background: #BCBCBC;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    margin: -3px -3px 0 -3px;
    border: solid 1px #fff;
    color: #fff;
    text-shadow: 1px 1px 1px #434343;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .2em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
    border: solid 1px transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.ui-dialog .ui-dialog-content {
    background: none;
    border: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border-width: 1px 0 0 0;
    padding: 10px;
    text-align: left;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    border-top: solid 1px #3aa1bf;
}

.ui-dialog .ui-dialog-buttonpane button {
    float: right;
}

.ui-dialog .ui-resizable-se {
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
#dlepopupmessage {
	font-size: 16px;
	line-height: 20px;
	}
	#newpm {
		font-size: 14px;
		line-height: 18px;
		}

/* ==================== Автозаполнение облака тегов */
.ui-autocomplete {
    position: absolute;
    cursor: default;
}

* html .ui-autocomplete {
    width:1px;
}

 /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}

.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

/*---подсветка текста в теге [code]---*/
pre code {
    display: block;
    padding: 0.5em;
    background: #f9fafa;
    border: 1px solid #dce7e7;
    overflow:auto;
    white-space: pre;
}

pre .comment,pre .template_comment,pre .diff .header,pre .doctype,pre .lisp .string,pre .javadoc {
    color: #93a1a1;
    font-style: italic;
}

pre .keyword,pre .css .rule .keyword,pre .winutils,pre .javascript .title,pre .method,pre .addition,pre .css .tag,pre .lisp .title {
    color: #859900;
}

pre .number,pre .command,pre .string,pre .tag .value,pre .phpdoc,pre .tex .formula,pre .regexp,pre .hexcolor {
    color: #2aa198;
}

pre .title,pre .localvars,pre .function .title,pre .chunk,pre .decorator,pre .builtin,pre .built_in,pre .lisp .title,pre .identifier,pre .title .keymethods,pre .id {
    color: #268bd2;
}

pre .tag .title,pre .rules .property,pre .django .tag .keyword {
    font-weight: bold;
}

pre .attribute,pre .variable,pre .instancevar,pre .lisp .body,pre .smalltalk .number,pre .constant,pre .class .title,pre .parent,pre .haskell .label {
    color: #b58900;
}

pre .preprocessor,pre .pi,pre .shebang,pre .symbol,pre .diff .change,pre .special,pre .keymethods,pre .attr_selector,pre .important,pre .subst,pre .cdata {
    color: #cb4b16;
}

pre .deletion {
    color: #dc322f;
}

pre .tex .formula {
    background: #eee8d5;
}

/*---прогресс бар заполненности персональных сообщений---*/
.pm_progress_bar {
    border: 1px solid #d8d8d8;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pm_progress_bar span {
    background: #000000;
    font-size: 0em;
    text-indent: -2000em;
    height: 10px;
    display: block;
    overflow: hidden;
}